a{
	color: #515151;
}
body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: #515151;
}

h1{
	margin: 0;
	font-weight: 600;
}

header{
	background: #273B47;
	padding:0 10px;
	/*opcion 3*/
	/* con esto alineamos y centramos el logo y el menu*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
}

nav{
	/*float: right;    opción 1*/
	/*position: absolute;
	right: 0; opción7 2*/
	height: inherit;/*alto heredado de header = 50px*/
}

nav a{
	color: white;
	text-decoration: none;
	height: inherit; /*alto heredado de li = 50px*/
	display: flex;
	align-items: center;
	padding: 0 10px;
}

nav a:hover{
	/*utilizamos box-shadow en vez de border para que no se desplace el texto*/
	/*box-shawdow: donde se ubica la sombra, x, y, difuminado, color*/
	box-shadow: inset 0px 5px 0px #ff4842 !important;
	/*le damos important para que se sobreponga el rojo sobre el verde de la clase is-active*/
}

nav a.is-active{
	box-shadow: inset 0px 5px 0px #7dcd40;
}

nav li{
	color: white;
	list-style: none;
	height: inherit; /*alto heredado de nav ul = 50px*/
	display: flex;
	align-items: center;
}

nav li:after{
	content: "|";
	display: inline-block;/* le ponemos inline-block para poder darle margin y paddin*/
	/*margin: 0 10px;*/
}

nav li:last-child:after{
	display: none;
}

nav ul{
	margin: 0;
	display: flex;
	height: inherit; /*alto heredado de nav = 50px*/
}

.blog{
	margin: 0 auto;
	width: 1000px;
}

.blog-items{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.button{
	background: gray;
	box-shadow:inset 0 -5px 0 rgba(0, 0, 0, 0.3);
	/*border-bottom: 5px solid black;*/
	font-size: 14px;
	padding:5px 10px 10px 10px;
	border-radius: 5px;
	text-decoration: none;
	color: white;
	transition: .2s;

}

.button:active{
	transform: scale(.9);
}

.button.red{
	background:#ff4842;

}

.button.green{
	background:#ff4842;

}


.item-blog{
	width: 300px;
}

.item-blog h3{
	font-weight: 600;
	margin: 10px 0;
}

.header-right{
	height: inherit;/*alto heredado de header = 50px*/
	display: flex;
	align-items: center;
}

.header-right .button{
	margin-left: 10px;
}

.paginador{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
}

.paginador a{
	text-decoration: none;
}

.paginador li{
	background: #eaeaea;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	border: 1px solid gray;
	margin: 0 5px;
}

.paginador li.selected{
	border-color: transparent;
	background: white;
}

.paginador ul{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: 10px;
}


.portada{
	position: relative;/*para acomodar description*/
}

.portada .description{
	background: rgba(255, 255, 255, .5);
	position: absolute;
	bottom: 30px;
	left: 20px;
	padding: 20px;
}
