body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

h1{
	margin: 0;
	font-weight: 600;
}

header{
	background: #273B47;
	padding:0 10px;
	/*opcion 3*/
	/* con esto alineamos y centramos el logo y el menu*/
	display: flex;
	justify-content: space-between;
	align-items: center;


}

nav{
	/*float: right;    opción 1*/
	/*position: absolute;
	right: 0; opción 2*/
}

nav a{
	color: white;
	text-decoration: none;
}

nav li{
	color: white;
	list-style: none;
}

nav li:after{
	content: "|";
	display: inline-block;/* le ponemos inline-block para poder darle margin y paddin*/
	margin: 0 10px;
}

nav li:last-child:after{
	display: none;
}

nav ul{
	display: flex;
}

.blog{
	margin: 0 auto;
	width: 1000px;
}

.blog-items{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.item-blog{
	width: 300px;
}

.item-blog h3{
	font-weight: 600;
	margin: 10px 0;
}

.portada{
	position: relative;/*para acomodar description*/
}

.portada .description{
	background: rgba(255, 255, 255, .5);
	position: absolute;
	bottom: 30px;
	left: 20px;
	padding: 20px;
}

